button {
    background-color: #0E8FF1;
    color: white;
    position: relative;
    top: 80px;
    left: 50%;
    border-radius: 4px;

}

.button:hover {
    background-color: white;
    color:#0E8FF1;
    position: relative;
    width: 10%;
    height: 10%;
    transition: all 0.2s;

}

.button:focus {
    transform: rotate(360deg);
    transition: all 0.8s;
}